body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: rgb(20, 2, 2);
}



.side {
  position: fixed;
  top: 15%;
  left: 0;
  width: 20vw;
  height: 50vw;
  background-color: rgb(119, 17, 17);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.side img {
  object-fit: cover;
  width: 80%;
  height: auto;
  border-radius: 25px;
}
