@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

body {
  font-family: 'Jost';
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #3c8b99;
  overflow: hidden;
}



.circle {
  position: absolute;
  width: 30%;
  height: 30vw;
  background: radial-gradient(ellipse at top, #e66465, transparent),
  radial-gradient(ellipse at bottom, #4d9f0c, transparent);
  border-radius: 50%;
  transform-origin: center;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
}