body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.header {
  width: 500px;
  height: auto;
  background-color: rgba(255, 161, 106, 0.774);
  border-radius: 25px;
  z-index: 100;
  position: absolute;
  top: 25%;
  left: 25%;
  text-align: center;
}

.background {
  position: relative;
  width: 100%;
  height: 100%;
}

.background div:nth-child(1) {
  position: absolute;
  width: calc(1 * 12%);
  height: calc(1 * 12%);
  border-bottom-right-radius: 50%;
  background-color: rgb(245, 194, 53);
  z-index: 10;
  animation: pulse calc(1 * 1s) ease-in-out infinite alternate-reverse;

}

.background div:nth-child(2) {
  position: absolute;
  width: calc(2 * 12%);
  height: calc(2 * 12%);
  border-bottom-right-radius: 50%;
  background-color: rgb(231, 167, 30);
  z-index: 9;
  animation: pulse calc(2 * 0.75s) ease-in-out infinite alternate-reverse;

}

.background div:nth-child(3) {
  position: absolute;
  width: calc(3 * 12%);
  height: calc(3 * 12%);
  border-bottom-right-radius: 50%;
  background-color: rgb(245, 162, 53);
  z-index: 8;
  animation: pulse calc(3 * 0.5s) ease-in-out infinite alternate-reverse;

}

.background div:nth-child(4) {
  position: absolute;
  width: calc(4 * 12%);
  height: calc(4 * 12%);
  border-bottom-right-radius: 50%;
  background-color: rgb(233, 113, 34);
  z-index: 7;
  animation: pulse calc(4 * 0.5s) ease-in-out infinite alternate-reverse;

}

.background div:nth-child(5) {
  position: absolute;
  width: calc(5 * 12%);
  height: calc(5 * 12%);
  border-bottom-right-radius: 50%;
  background-color: rgb(206, 78, 5);
  z-index: 6;
  animation: pulse calc(5 * 0.5s) ease-in-out infinite alternate-reverse;

}

.background div:nth-child(6) {
  position: absolute;
  width: calc(6 * 12%);
  height: calc(6 * 12%);
  border-bottom-right-radius: 50%;
  background-color: rgb(192, 58, 5);
  z-index: 5;
  animation: pulse calc(6 * 0.5s) ease-in-out infinite alternate-reverse;

}

.background div:nth-child(7) {
  position: absolute;
  width: calc(7 * 12%);
  height: calc(7 * 12%);
  border-bottom-right-radius: 50%;
  background-color: rgb(161, 65, 1);
  z-index: 4;
  animation: pulse calc(7 * 0.5s) ease-in-out infinite alternate-reverse;

}

.background div:nth-child(8) {
  position: absolute;
  width: calc(8 * 12%);
  height: calc(8 * 12%);
  border-bottom-right-radius: 50%;
  background-color: rgb(126, 37, 2);
  z-index: 3;
  animation: pulse calc(8 * 0.5s) ease-in-out infinite alternate-reverse;

}

.background div:nth-child(9) {
  position: absolute;
  width: calc(9 * 12%);
  height: calc(9 * 12%);
  border-bottom-right-radius: 50%;
  background-color: rgb(78, 23, 1);
  z-index: 2;
  animation: pulse calc(9 * 0.5s) ease-in-out infinite alternate-reverse;

}

.background div:nth-child(10) {
  position: absolute;
  width: calc(10 * 12%);
  height: calc(10 * 12%);
  border-bottom-right-radius: 50%;
  background-color: rgb(59, 22, 0);
  z-index: 1;
  animation: pulse calc(10 * 0.5s) ease-in-out infinite alternate-reverse;

}




@keyframes pulse {
  from {
    transform: scale(1);
  } to {
    transform: scale(1.1);
  }
}
